# pom files are essential for the build process and they can open security concerns with introducing new dependencies
pom.xml                     @wings-software/portal_pom-maintainers
*MorphiaRegistrar.java      @george-harness