<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <contextListener class="software.wings.delegate.app.DelegateLoggerStartupListener"/>

    <conversionRule conversionWord="process_id" converterClass="io.harness.logging.ProcessIdConverter"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>delegate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>delegate.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 3 days' worth of history capped at 3GB total size -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <withJansi>true</withJansi>

        <encoder>
            <pattern>%date{ISO8601} %blue([${version}]) %boldGreen(%process_id) %blue(%X{taskId}) %green([%thread]) %highlight(%-5level) %cyan(%logger) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date{ISO8601} %blue(%X{taskId}) %green([%thread]) %highlight(%-5level) %cyan(%logger) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="REST" class="io.harness.logging.RestLogAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%blue([${version}]) %boldGreen(%process_id) %blue(%X{taskId}) %green([%thread]) %cyan(%logger) - %msg %n</pattern>
        </layout>
        <programName>delegate</programName>
        <key>${logdnakey:-9a3e6eac4dcdbdc41a93ca99100537df}</key>
        <threshold>TRACE</threshold>
    </appender>

    <logger name="software.wings" level="INFO"/>
    <logger name="org.zeroturnaround" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="REST"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>
