.idea
.DS_Store
*.iml
*.ipr
*.iws
target
.classpath
*.orig
.settings
.project
dependency-reduced-pom.xml
.checkstyle
wingsui
rest/wingsui
access.log
access*gz
*/delegate*.log
*/upgrade.sh
python/**/*.pyc
python/**/*-checkpoint.ipynb
python/**/.pyenv
delegate.log
mygclogfilename.gc
portal.log
delegate/restart.sh
