<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="gke-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="io.harness.logging.CustomJsonLayout"/>
        </encoder>
    </appender>

    <logger name="software.wings" level="INFO"/>
    <logger name="org.zeroturnaround" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="gke-console"/>
    </root>

</configuration>
