# Copyright 2023 Harness Inc. All rights reserved.
# Use of this source code is governed by the PolyForm Free Trial 1.0.0 license
# that can be found in the licenses directory at the root of this repository, also available at
# https://polyformproject.org/wp-content/uploads/2020/05/PolyForm-Free-Trial-1.0.0.txt.

image: harness/ci-lite-engine:{{#if build.tag}}{{trimPrefix "ci-" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  -
    image: harness/ci-lite-engine:{{#if build.tag}}{{trimPrefix "ci-" build.tag}}{{else}}latest{{/if}}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: harness/ci-lite-engine:{{#if build.tag}}{{trimPrefix "ci-" build.tag}}{{else}}latest{{/if}}-linux-arm64
    platform:
      architecture: arm64
      os: linux
  -
    image: harness/ci-lite-engine:{{#if build.tag}}{{trimPrefix "ci-" build.tag}}{{else}}latest{{/if}}-windows-1809-amd64
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: harness/ci-lite-engine:{{#if build.tag}}{{trimPrefix "ci-" build.tag}}{{else}}latest{{/if}}-windows-ltsc2022-amd64
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022