apiVersion: v1
kind: Config
clusters:
- cluster:
    caCertFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    insecure-skip-tls-verify: true
  name: CLUSTER_NAME
contexts:
- context:
    cluster: CLUSTER_NAME
    user: HARNESS_USER
  name: CURRENT_CONTEXT
current-context: CURRENT_CONTEXT
preferences: {}
users:
- name: HARNESS_USER
  user:
    tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
