- name: {{name}}
      description: {{description}}
      services:
      {{#services}}
        {{>service.mustache}}
      {{/services}}
      environments:
      {{#environments}}
        {{>environment.mustache}}
      {{/environments}}                         