<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <turboFilter class="io.harness.logging.ExpiringDuplicateMessageFilter">
        <allowedRepetitions>0</allowedRepetitions>
        <cacheSize>300</cacheSize>
        <expireAfterWriteSeconds>3600</expireAfterWriteSeconds>
        <includeMarkers>THROTTLED</includeMarkers>
    </turboFilter>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <conversionRule conversionWord="version" converterClass="io.harness.logging.VersionConverter"/>
    <conversionRule conversionWord="process_id" converterClass="io.harness.logging.ProcessIdConverter"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>delegate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>delegate.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- or whenever the file size reaches 50MB -->
            <maxFileSize>50MB</maxFileSize>
            <!-- keep 10 days' worth of history capped at 1GB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <withJansi>true</withJansi>

        <encoder>
            <pattern>%date{ISO8601} %blue([%version]) %boldGreen(%process_id) %green([%thread]) %highlight(%-5level) %cyan(%logger) - %msg %yellow(%replace(%mdc){'(.+)', '[$1]'}) %n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date{ISO8601} %green([%thread]) %highlight(%-5level) %cyan(%logger) - %msg %yellow(%replace(%mdc){'(.+)', '[$1]'}) %n</pattern>
        </encoder>
    </appender>

    <appender name="REST2" class="io.harness.delegate.logging.DelegateStackdriverLogAppender">
        <threshold>TRACE</threshold>
        <managerHost>${MANAGER_HOST_AND_PORT}</managerHost>
        <accountId>${ACCOUNT_ID}</accountId>
    </appender>

    <logger name="software.wings" level="INFO"/>
    <logger name="org.zeroturnaround" level="WARN"/>
    <logger name="io.harness.event.client.impl" level="${LOGGING_LEVEL_EVENT_CLIENT:-INFO}"/>

    // todo(avmohan): Temporarily added till we root cause the high frequency logging issue
    <logger name="io.kubernetes.client.informer.cache.ReflectorRunnable" level="${KUBE_WATCH_LEVEL:-OFF}"/>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="REST2"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>
